################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SPOS/FileContentIndex/012bfc0a-4ecf-4b4d-926b-290b967bf2ed.vsidx
/.gitignore
/.gitignore
